.page{
    width:100%;
    height:100%;
}
/* 整个标题样式调整 */
.title{
    width:100%;
    height:8%;
    background-color: aqua;
    display:flex;
    align-items:center;
    border-radius:5px;
}
.title h2{
    margin-left:38px;
    font-size:40px;
}
/* 标题里的空格占位 */
.title .space{
    width:300px;
    height:100%;
}
/* 标题里的用户图片样式设计 */
.title img{
    width:70px;
    height:70px;
    border-radius:100%;
    margin-left:10px;
    margin-right:5px;
}
/* 标题里的链接跳转 */
.title .link{
    font-size:50px;
    margin-right:10px;
}
.title .link a{
    /* 取消下划线 */
    text-decoration: none;
}
/* 标题里的用户名字 */
.title .userName{
    font-size:30px;
}
/* 整篇文章的容器：包含作者名片和文章内容 */
.container{
    height:92%;
    width:100%;
    display:flex;
}
.left-container{
    width:20%;
    height:100%;
    background-color: aquamarine;
}
.right-container{
    width:80%;
    height:100%;
    background-color: gray;
    overflow: auto;
}

/* 作者名片 */
.card{
    height:343px;
    width:200px;
    margin:auto;
    background: red;
    border-radius: 20px;
    border:0px;
}
.card .writerImg{
    width:200px;
    height:170px;
    text-align:center;
    margin-top:10px;
}
.card .writerImg img{
    width:150px;
    height:150px;
    border-radius: 100%;
    margin-top: 20px;
}
.card .writerName{
    font-size:20px;
    font-weight: bolder;
    text-align: center;
}
.card .github{
    text-align:center;
    margin-top:10px;
}
.card .github a{
    text-decoration: none;
}
.card .count{
    text-align: center;
    font-size:20px;
    margin-top: 10px;
}
.card .countNumber{
    font-size:20px;
    margin-top: 10px;
    text-align: center;
}
.content{
    width:100%;
    height:100%;
}
.contentTitle h2{
    text-align:center;
    font-size:50px;
}
.content .time{
    text-align:center;
    font-size:30px;
}
.text{
    display:flex;
    justify-content: center;
}
.text #text{
    text-indent: 2em;
    /* margin-left: 100px;
    margin-right:20px; */
    font-size: 20px;
    width:900px;
    overflow-wrap: break-word; /* 自动换行 */
    word-wrap: break-word; /* 确保长单词也会换行 */
}
.text #text p{
    font-size: 30px;
}

.comments{
    width:100%;
}
.comment{
    display:flex;
    align-items: center;
    width:800px;
    margin-left:200px;
    background-color: aqua;
    border-radius: 10px;
    border:0px;
}
.comment .user{
    display: flex;
    align-items: center;
}
.comment .user img{
    width:80px; 
    height:80px;
    border-radius: 100%;
}
.comment .user span{
    font-size: 30px;
    margin-left:10px;
}

.comment .say{
    font-size:30px;
    line-height: 30px;
    margin-left:20px;
}