.login{
    /* 弹性布局，让直接子元素水平居中，垂直居中，在整个页面中间*/
    display:flex;
    /* 水平居中 */
    justify-content:center;
    /* 垂直居中 */
    align-items:center;
    /* 该元素占父元素100%的宽和高，即整个页面*/
    height:100%;
    width:100%;
    background-image: url(../img/6081.gif_wh300.gif);
    /* 背景平铺*/
    background-repeat: no-repeat;
    /* 布满整个页面 */
    background-size: cover; 
}
/* 表格样式调整 */
form{
    height:300px;
    width:400px;
    /* 圆角矩形 */
    border-radius:10px;
    background-color: rgba(0,255,255,0.5);
    border-style:solid;
}
h3{
    margin-top:10px;
    margin-bottom: 10px;
    text-align:center;
    font-size: 30px;
}
/* 每一行的宽度长度调整 */
.row{
    width:100%;/*就是300px*/
    height:40px;
    display:flex;
    /* 内部元素水平方向居中 */
    justify-content:center;
    align-items:center;
}
/* 每一行行首的文字样式调整 */
.row span{
    font-size:25px;
    width:100px;
    height:30px;
}
/* 每一行的输入框样式调整 */
.inputBox{
    width:250px;
    height:30px;
    font-size:20px;
    background-color: bisque;
    /* 圆角矩形 */
    border-radius:5px;
} 
/* 设置按钮 */
.button{
    background-color: greenyellow;
    width:250px;
    height:30px;
    font-size:20px;
    /* 圆角矩形 */
    border-radius:5px;
}
.button:active{
    background-color: red;
}